h1 {
  color: blue;
}

p {
  font-size: medium;
}

img {
  height: 150px;
  width: 150px;
}

.ProductDetails {
  padding-left: 10px;
}

.cardContainer {
  width: 50%;
  height: 160px;
  display: flex;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width:768px)
{

  .cardContainer{
    width: 90% !important;
  }
  img{
    width: 80px !important;
    height: 80px !important;
  }
  p {
    font-size: xx-small !important;
  }
  .track{
    padding: 3px 10px !important;
    margin-right: 10px !important;
  }
}