.searchBar {
  padding: 20px;
  width: 50%;
}

.searchBarContainer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCardContainer {
  padding: 20px;
  margin: 20px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  flex-direction: column;
}
