

.searchBar {
    padding: 20px !important;
    width: 50% !important;
  }
  
  .searchBarContainer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .productCardContainer {
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
    flex-direction: row;
  }
  
  @media screen and (max-width: 768px) {
    .searchBar {
      padding: 20px !important;
      width: 80% !important;
    }
  }
  